/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://db.onlinewebfonts.com/c/ae75f266503e923ef5f4748a33b616fb?family=Contax+Sans+W01+55+Regular');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@font-face {
    font-family: "Contax Sans";
    src: url("https://db.onlinewebfonts.com/t/ae75f266503e923ef5f4748a33b616fb.eot");
    src: url("https://db.onlinewebfonts.com/t/ae75f266503e923ef5f4748a33b616fb.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ae75f266503e923ef5f4748a33b616fb.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ae75f266503e923ef5f4748a33b616fb.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ae75f266503e923ef5f4748a33b616fb.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ae75f266503e923ef5f4748a33b616fb.svg#Contax Sans W01 55 Regular")format("svg");
}

body {
    font-family: "Inter";
    -webkit-font-smoothing: antialiased;
    margin: 0;
    overflow-x: hidden;
}
